<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.username">
      root
    </property>
    <property name="hibernate.connection.password">
      010410
    </property>
    <property name="hibernate.connection.url">
      jdbc:mysql://localhost/sistemaVotacao?useTimezone=true&amp;serverTimezone=UTC
    </property>
    <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
    </property>
    <property name="hibernate.dialect">
      org.hibernate.dialect.MySQL5InnoDBDialect
    </property>
    
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    
    <mapping class="br.com.fatec.entidadesBD.Pessoas" />
    <mapping class="br.com.fatec.entidadesBD.Eleitor" />
    <mapping class="br.com.fatec.entidadesBD.Funcionario" />
    <mapping class="br.com.fatec.entidadesBD.UF" />
    <mapping class="br.com.fatec.entidadesBD.Municipio" />
    <mapping class="br.com.fatec.entidadesBD.Zona" />
    <mapping class="br.com.fatec.entidadesBD.SecaoEleitoral" />
  </session-factory>
</hibernate-configuration>